/logs
project/project
projectFilesBackup*
project/target
conf/application.conf
conf/twitter.conf
/target
/tmp
.history
/dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store
activator
/deploy.sh
/update.sh
/nohup.out
node_modules/
public/dist/*
webpack-assets/
public/webpack-assets
