.login {
  padding: @spacer*2;
  background-color: #fff;
  border: 1px solid #aaaaaa;
  max-width: 400px;

  h3 {
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    margin-bottom: @spacer;
    padding-left: @spacer/4;
    padding-right: @spacer/4;

    &:focus {
      outline: none;
    }
  }

  button {
    margin-top: 20px;
  }

  &-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
