.login {
  // margin: 0 0 @spacer 0;
  padding: @spacer*2;
  background-color: #fff;
  border: 1px solid #aaaaaa;
  max-width: 400px;

  input {
    width: 100%;
  }

  &-container {
    /*
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
