logs
project/project
projectFilesBackup*
project/target
conf/application.conf
conf/twitter.conf
target
tmp
.history
.idea
*.iml
out
.classpath
.project
RUNNING_PID
.settings
.DS_Store
activator
deploy.sh
update.sh
