@(title: String, user: Option[cobase.user.User] = None)(content: Html)
        
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@title</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <link rel="icon" type="image/ico" href="/assets/dist/img/cobase.ico">

    <script type="text/javascript" src="/assets/dist/js/bundle.js" charset="utf-8"></script>
</head>
<body class="blank-page">

@content

</body>
</html>
