@(title: String, user: Option[cobase.user.User] = None)(content: Html)
        
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@title</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/app/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/assets/app/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <link href="/assets/app/css/cobase.css" rel="stylesheet" type="text/css" />
    <link href="/assets/app/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/app/jquery-ui/jquery-ui-flick.css" rel="stylesheet" type="text/css" >
    <link href="/assets/app/css/jquery.tagit.css" rel="stylesheet" type="text/css" >

    <link rel="icon" type="image/ico" href="/assets/app/img/cobase.ico">

    <!--[if lt IE 9]>
    <script src="/assets/app/js/html5shiv.min.js"></script>
    <script src="/assets/app/js/respond.min.js"></script>
    <![endif]-->

    <script src="/assets/dist/js/bundle.js" type="text/javascript" charset="utf-8"></script>

</head>
<body class="blank-page">

@content

</body>

</html>
