@import views.html.helpers._

@import cobase.group.{Group, GroupLink}
@import cobase.user.User
@import cobase.play.group.GroupFormData
@import cobase.play.group.routes.{GroupController => groupControllerRoutes}

@(user: User,
  groupLinks: List[GroupLink],
  groupForm: Form[GroupFormData],
  group: Group
)(implicit request: RequestHeader)

@pageTitle = {
  Edit Group
}

@main("CobasePRO - Edit Group", Option(user), groupLinks, pageTitle) {
<div class="row">
    <div class="user col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Enter required content for this group</h3>
            </div>
            <div class="box-body">
                @request.flash.get("error").map { msg =>
                <p class="register-box-msg"><strong>Error:</strong> @msg</p>
                }
                @helper.form(action = groupControllerRoutes.editGroup(group.id)) {
                @text(groupForm("title"), "Title", icon = "")
                @tags(groupForm("tags"), "Twitter hashtags")
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-success btn-block btn-flat">Update</button>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $(document).ready(function() {
            $("#tags").tagit({
                preprocessTag: function(tag) {
                    if (!tag) { return ''; }

                    if (tag.substr(0, 1) == "#") {
                        return tag;
                    } else if (tag.substr(0, 1) == "@@") {
                        return tag;
                    } else {
                        return "#" + tag;
                    }

                }
            });
        });
    </script>
}
