@import scala.concurrent.Future
@import forms.PostForm
@import models.Post
@import models.Group

@import views.html.helpers._
@import play.api.Play
@import play.api.Play.current

@(user: models.User,
  groupLinks: List[GroupLink],
  postForm: Form[forms.PostFormData],
  group: Group,
  post: Post
)(implicit request: RequestHeader)

@pageTitle = {
  Edit Post
}

@main("CobasePRO - Edit Post", Option(user), groupLinks, pageTitle) {
<div class="row">
    <div class="user col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Group: @group.title</h3>
            </div>
            <div class="box-body">
                @request.flash.get("error").map { msg =>
                <p class="register-box-msg"><strong>Error:</strong> @msg</p>
                }
                @helper.form(action = routes.PostController.updatePost(post.id)) {
                @textarea(postForm("content"), "Post content", icon = "")
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-success btn-block btn-flat">Update</button>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
}
