@import views.html.helpers._
@import java.util.Date

@import cobase.group.{Group, GroupLink}
@import cobase.user.User
@import cobase.post.Post
@import cobase.play.group.routes.{GroupController => groupControllerRoutes}
@import cobase.play.post.PostFormData
@import cobase.play.post.routes.{PostController => postControllerRoutes}

@(user: User,
  groupLinks: List[GroupLink],
  group: Group,
  posts: List[Post],
  tweets: Option[List[twitter4j.Status]],
  subscribed: Boolean,
  postForm: Form[PostFormData]
)(implicit request: RequestHeader)

@pageTitle = {
    @group.title
}

@main("CobasePRO - " + group.title, Option(user), groupLinks, pageTitle) {
    <div class="row">
        @if(!tweets) {
            <div class="col-md-12">
        } else {
            <div class="col-md-8">
        }
            <div id='tab-posts'>
                <div class="row">
                    <div class="col-md-12">

                        @request.flash.get("info").map { msg =>
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="icon fa fa-check"></i> @msg
                        </div>
                        }

                        <div class="box box-primary">
                            <div class="box-header">
                                <h3 class="box-title">What's on your mind?</h3>
                            </div>
                            <div class="box-body">
                                @helper.form(action = postControllerRoutes.addPost(group.id)) {
                                @textarea(postForm("content"), "Post content", icon = "")
                                <div class="row">
                                    <div class="col-xs-4">
                                        <button type="submit" class="btn btn-success btn-block btn-flat">Post</button>
                                    </div><!-- /.col -->
                                    <div class="col-xs-8 text-right edit-group-link">
                                        @subscribed match {
                                            case true => {
                                                <a href="@groupControllerRoutes.unsubscribe(group.id)">Unsubscribe</a>
                                            }
                                            case false => {
                                                <a href="@groupControllerRoutes.subscribe(group.id)">Subscribe</a>
                                            }
                                        }
                                        &nbsp;|&nbsp;
                                        <a href="@groupControllerRoutes.editGroupForm(group.id)">Edit group</a>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="timeline">
                                @posts.map { post =>
                                <li>
                                    <i class="fa fa-comments bg-yellow"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> @prettytime(new Date(post.createdTimestamp * 1000))</span>
                                        <h3 class="timeline-header">@post.createdBy</h3>
                                        <div class="timeline-body wordbreak">
                                            @linkify(post.content)
                                        </div>
                                        <div style="text-align: right; padding-right: 7px; padding-bottom: 2px;">
                                            <a href="@postControllerRoutes.editPostForm(post.id)"><i class="fa fa-edit"></i></a>
                                        </div>
                                    </div>
                                </li>
                                }
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if(!tweets.isEmpty) {
            <div class="col-md-4">
                <div id='twitter-feed'>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Twitter feed</h3>
                            @if(!group.tags.isEmpty) {
                                <h4>@group.tags.split(",").sortWith(_ < _).mkString(", ")</h4>
                            }
                            <ul class="timeline noline">
                                @tweets.get.map { tweet =>
                                <li>
                                    <div class="twitter-item">
                                        <h3 class="timeline-header">
                                            <div class="row">
                                                <div class="tweet-info">
                                                    <img class="twitter-icon" src="@tweet.getUser.getProfileImageURL/">
                                                </div>
                                                <div class="tweet">
                                                    <div>@tweet.getUser.getName</div>
                                                    <div><a href="https://twitter.com/@tweet.getUser.getScreenName">@@@tweet.getUser.getScreenName</a></div>
                                                </div>
                                            </div>
                                        </h3>
                                        <div class="timeline-body wordbreak">
                                            @linkify(tweet.getText.toString)
                                            <br/>
                                            <span class="time ago"><i class="fa fa-clock-o"></i> @prettytime(tweet.getCreatedAt)</span>
                                        </div>

                                    </div>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
