@import scala.concurrent.Future

@import views.html.helpers._
@import play.api.Play
@import play.api.Play.current

@(user: models.User, groups: List[Group], group: Option[Group], posts: List[Post])(implicit request: RequestHeader)

@pageTitle = {
    @group.get.title
}

@breadCrumbTitle = {
    <li class="active">Group</li>
}

@main("CobasePRO - " + group.get.title, Some(user), groups, pageTitle, breadCrumbTitle) {
<div class="user col-md-12">
    @posts.map { post =>
        <h4>@post.title</h4>
        <h5>@post.content</h5>
    }
</div>
}
