@import scala.concurrent.Future
@import views.html.helpers._
@import java.util.Date

@(user: models.User,
  groupLinks: List[GroupLink],
  dashboardPosts: List[DashboardPost]
)(implicit request: RequestHeader)

@pageTitle = {
    Dashboard - Latest posts
}

@breadCrumbTitle = {
    <li class="active">Dashboard</li>
}
        
@main("CobasePRO - Dashboard", Some(user), groupLinks, pageTitle, breadCrumbTitle) {

    @request.flash.get("info").map { msg =>
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <i class="icon fa fa-check"></i> @msg
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <ul class="timeline">
                @dashboardPosts.map { post =>
                <li>
                    <i class="fa fa-comments bg-yellow"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> @prettytime(new Date(post.createdTimestamp * 1000))</span>
                        <h3 class="timeline-header">@post.createdBy &raquo; <a href="@routes.PostController.listGroupPosts(post.groupId)">@post.groupTitle</a></h3>
                        <div class="timeline-body wordbreak">
                            @linkify(post.content)
                        </div>
                    </div>
                </li>
                }
                <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                </li>
            </ul>
        </div>
    </div>

}
        
