@import scala.concurrent.Future
@import views.html.helpers._
@import java.util.Date

@(user: models.User,
  groupLinks: List[GroupLink],
  dashboardPosts: List[DashboardPost]
)(implicit request: RequestHeader)

@pageTitle = {
    Dashboard - Latest posts
}

@main("CobasePRO - Dashboard", Option(user), groupLinks, pageTitle) {

    @request.flash.get("info").map { msg =>
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <i class="icon fa fa-check"></i> @msg
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            @dashboardPosts.isEmpty match {
                case true => {
                    <h4>There are no posts to show</h4>
                    <h5>On this page you will see latest posts from all the groups you have subscribed to. This way you will be informed of only those posts that relate to your interests.</h5>
                    <h5>Based on the groups you have been subscribed to, there are no posts found. You can either wait for new posts or try to subscribe to more groups.</h5>
                }
                case _ => {
                    @dashboardPosts.map { post =>
                    <ul class="timeline">
                        <li>
                            <i class="fa fa-comments bg-yellow"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> @prettytime(new Date(post.createdTimestamp * 1000))</span>
                                <h3 class="timeline-header">@post.createdBy &raquo; <a href="@routes.GroupController.listGroupPosts(post.groupId)">@post.groupTitle</a></h3>
                                <div class="timeline-body wordbreak">
                                    @linkify(post.content)
                                </div>
                            </div>
                        </li>
                        }
                        <li>
                            <i class="fa fa-clock-o bg-gray"></i>
                        </li>
                    </ul>
                }
            }
        </div>
    </div>

}
        
