@import scala.concurrent.Future

@(user: models.User, groups: List[Group])(implicit request: RequestHeader)

@pageTitle = {
    Dashboard
}

@breadCrumbTitle = {
    <li class="active">Dashboard</li>
}
        
@main("CobasePRO - Dashboard", Some(user), groups, pageTitle, breadCrumbTitle) {
    <div class="user col-md-12">

        @request.flash.get("info").map { msg =>
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="icon fa fa-check"></i> @msg
            </div>
        }
        
        <div class="row">
            <h4 class="col-md-12">No posts found from any of the groups you have been subscribed to.</h4>
        </div>
    </div>
}
        
