@import views.html.helpers._
@import java.util.Date

@import cobase.group.{Group, GroupLink}
@import cobase.user.User
@import cobase.play.post.routes.{PostController => postControllerRoutes}
@import cobase.post.DashboardPost

@(user: User,
    groupLinks: List[GroupLink],
    exceptionMessage: String
)(implicit request: RequestHeader)

@pageTitle = {
    Exception
}

@main("CobasePRO - Not Found", Option(user), groupLinks, pageTitle) {

<div class="row">
    <div class="col-md-12">
        <h4>@exceptionMessage</h4>
        <h5>Please check the given address or try again later. In case this exception remains, contact your system administration.</h5>
    </div>
</div>

}

