@import views.html.helpers._

@blank("CobasePRO - Sign In") {
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Cobase</b>PRO</a>
        </div>

        <div class="login-box-body">
            <p class="login-box-msg">Login into system</p>

            <form>
                <div class="row top20 bottom10">
                    <div class="col-xs-12">
                        <label>
                            <input type="checkbox" id="rememberMe" name="rememberMe" value="true"> <span class="checkbox-label">Remember me</span>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-success btn-block btn-flat">Sign In</button>
                    </div>
                </div>
            </form>

            @if(play.Play.application().configuration().getString("cobase.allowRegistration") == "true") {
                <p class="not-a-member top20">Not a member? <a href="#">Sign up now</a></p>
            }
        </div>
    </div>
}
