
@(signInForm: Form[forms.SignUpForm.Data])(implicit request: RequestHeader)

@import views.html.helpers._

@blank("CobasePRO - Sign Up") {
<div class="register-box">
    <div class="register-logo">
        <a href="../../index2.html"><b>Cobase</b>PRO</a>
    </div><!-- /.register-logo -->

    <div class="register-box-body">
        <p class="register-box-msg">Sign up</p>

        @request.flash.get("error").map { msg =>
        <p class="register-box-msg"><strong>Error:</strong> @msg</p>
        }

        @helper.form(action = routes.SignUpController.signUp()) {
        @text(signInForm("firstName"), "First name", icon = "person")
        @text(signInForm("lastName"), "Last name", icon = "person")
        @text(signInForm("email"), "Email", icon = "at")
        @password(signInForm("password"), "Password", icon = "key")
        <div class="row">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div><!-- /.col -->
        </div>
        }

        <p>Already a member? <a href="@routes.ApplicationController.signIn">Sign in now</a></p>

    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
}
