@import views.html.helpers._

@import cobase.play.user.SignUpForm
@import cobase.play.user.routes.{SignUpController => signUpControllerRoutes, AuthenticationController => authenticationControllerRoutes}

@(signInForm: Form[SignUpForm.Data])(implicit request: RequestHeader)

@blank("CobasePRO - Sign Up") {
<div class="register-box">
    <div class="register-logo">
        <a href="../../index2.html"><b>Cobase</b>PRO</a>
    </div>
    <div class="register-box-body">
        <p class="register-box-msg">Register an account</p>
        @request.flash.get("error").map { msg =>
            <p class="register-box-msg"><strong>Error:</strong> @msg</p>
        }
        @helper.form(action = signUpControllerRoutes.signUp()) {
        @text(signInForm("firstName"), "First name", icon = "person")
        @text(signInForm("lastName"), "Last name", icon = "person")
        @text(signInForm("email"), "Email", icon = "at")
        @password(signInForm("password"), "Password", icon = "key")
        <div class="row top20">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-success btn-block btn-flat">Sign Up</button>
            </div>
        </div>
        }
        <p class="top20">Already a member? <a href="@authenticationControllerRoutes.signIn">Sign in now</a></p>
    </div>
</div>
}
