@import views.html.helpers._

@blank("CobasePRO - Sign Up") {
    <div class="register-box">
        <div class="register-logo">
            <a href="../../index2.html"><b>Cobase</b>PRO</a>
        </div>

        <div class="register-box-body">
            <p class="register-box-msg">Register an account</p>

            <form>
                <div class="row top20">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-success btn-block btn-flat">Sign Up</button>
                    </div>
                </div>
            </form>

            <p class="top20">Already a member? <a href="#">Sign in now</a></p>
        </div>
    </div>
}
