@import 'variables';
@import 'reset';

@import 'components/sidebar';
@import 'components/topbar';
@import 'components/login';
@import 'components/post';
@import 'components/add-group';

// move to variables or somewhere else
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
}

.logged-in {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

button {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-radius: 3px;
  background-color: #00a65a;
  border: 1px solid #008d4c;
  color: white;
  font-weight: 100;
  min-width: 150px;

  &:hover {
    background-color: #008d4c;
    border: 1px solid #00a65a;
  }

  &:focus {
    outline: none;
  }
}
