@import 'variables';
@import 'reset';

@import 'components/sidebar';
@import 'components/topbar';
@import 'components/post';

// move to variables or somewhere else
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
}

.logged-in {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.main { flex: 1; }
